#contact_modal {
    display: none;
}
/* mon code a été ajouté ici  */
/* ============================================================================================ */
p{
    margin:0;
    padding:0; 
}
h2{
    margin-bottom: 0;
}
/* ============================================================================================ */
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
/* **********************************************************Mon code d'aujourd(hui*********************************************************************** */
/* .said{
    text-align: right;
} */
/* .inputLabel{
    margin: 0 100px;
} */
       /* Style pour le bouton select */
       .custom-select {
        background-color: #901C1C; /* Couleur de fond */
        color: white; /* Couleur du texte */
        padding: 10px; /* Espacement interne */
        border: none; /* Suppression de la bordure */
        border-radius: 5px; /* Coins arrondis */
        font-size: 16px; /* Taille de la police */
    }

    /* Style pour les options du select */
    /* .custom-select option {
        background-color: #901C1C; /* Couleur de fond des options */
        /* color: white; /* Couleur du texte des options */
    /* } */ 
/* ******************************************************************************************************************************************************* */
.mesMedias img {
width: 100%;

height: 250px;

/* margin-right: 100px; */
}

.mesMedias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left:50px; 
    margin-right:50px; 

    /* display:flex; 
    justify-content: space-between; */

}
#monFormulaireCarroussel{
    margin-left:100px; 
}
#maSousBox{
/* display:flex;
justify-content: space-between; */
margin-top:10%;
margin-left:50px; 
margin-right:50px; 
}

.lightBox{

    display: none;
  
    border: 5px solid black; /* Bordure noire de 5px */
    height: 500px;           /* Hauteur de 500px */
    width: 500px;            /* Largeur de 500px */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}