#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
    z-index: 1000; /*Au-dessus des autres éléments */
}

p{
    margin:0;
    padding:0; 
}

h2{
    margin-bottom: 0;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    /* height: 70px; */
    height:53px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover{
background-color: #D3573C;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    margin-top: 0;
    margin-left: 35px;
    font-size: 50px;
   
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    /* width: 100%; */
    width: 88%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 21px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    /* height: 68px; */
    height:33px;
    border: none;
    border-radius: 5px;
}

/* Style pour le bouton select */
.custom-select {
background-color: #901C1C; /* Couleur de fond */
color: white; /* Couleur du texte */
padding: 10px; /* Espacement interne */
border: none; /* Suppression de la bordure */
border-radius: 5px; /* Coins arrondis */
font-size: 16px; /* Taille de la police */
    }

.mesMedias img {
width: 100%;
height: 250px;
object-fit: cover;

}

.mesMedias{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin-left:50px; 
margin-right:50px; 

}

#monFormulaireCarroussel {
display: flex;
flex-direction: row; /* Disposer les éléments en ligne */
align-items: baseline; /* Aligner les éléments à la ligne de base du texte */
margin-left: 94px;
}

#monFormulaireCarroussel label {
margin-right: 10px; /* Espacement entre le label et le select */
}

#maSousBox{
margin-top:10%;
margin-left:50px; 
margin-right:50px; 
}

#basSousBox{
display: grid;
grid-template-columns: 2.3fr 0.4fr 0.3fr;
font-size: 18px; /* Taille de la police */
color: #901C1C; 
}

#heartIcon{
color: #901C1C; 
font-size: 2em; /* Vous pouvez ajuster la taille si nécessaire */
}

#heartIcon:hover {
color:#D3573C; /* Change la couleur au survol */
}

/* =============================================================== ENCART BAS DE PAGE ============================================================ */
#fixedFooter {
position: fixed;
bottom: 0;
left: 0;
margin-left:75%;
width: 20%;
background-color:#D3573C;
color: black;
text-align: center;
padding: 10px 0;
font-size: 18px;
display: flex;
border-top-left-radius: 10px;
border-top-right-radius:10px;
justify-content: space-around;
z-index: 1000; /* S'assurer qu'il soit au-dessus des autres éléments */
}
/* ========================================================== CSS LIGHTBOX======================================================================== */


#light_box{
display:none; 
   
}
.lightBox{
margin-left: 2%;
margin-right:10%;
width: 29vw;
background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
position: fixed; /* Position fixe pour rester en place lors du défilement*/
top: 50%;/* Centré verticalement*/
left: 50%; /*Centré horizontalement */
transform: translate(-50%, -50%); /* Ajustement pour un centrage parfait */
z-index: 1000; /* Superposition au-dessus des autres éléments */
margin-bottom: 5%; 
}

#panneauDeGauche{
background-color:white;
}

#panneauCentral{
display: grid;
grid-template-rows: 95% 5%;
background-color: white;
}

#panneauDeDroite{
background-color: white;
}

#panneauCentral img{
width: 100%;
height: 100%;
object-fit: contain;
}


#containerLightbox{
display:grid; 
grid-template-columns: 5% 90% 5%;
}

#containerImgLightbox{
width: 100%;
height: 100%;
overflow: hidden;
}

#panneauDeGauche, #panneauDeDroite {
display: flex;
justify-content: center; /* Centre horizontalement */
align-items: center; /* Centre verticalement */
height: 100%; /* Assurez-vous que la div occupe toute la hauteur de son parent */
}

#containerCroixDeFermeture {
position: absolute;
top: 0;
/* right: 10px; */
}

#myVideoElement{
    width: 100%;
    height: 250px;
    background: black;
}


#videoMedia {
    width: 100%;
    height: 80%;
    margin-top: 0;
    padding-top: 0;
}

#containerTitle, #chevronOuvrant,#chevronFermant, #croixfermeture{
font-weight: bold;
color :#901C1C;
background: transparent;
border:none; 
}
#chevronOuvrant:focus{
    outline: 3px solid #901C1C; 
    outline-offset: 2px; 
}
#croixFermetureContact:focus{
    outline: 3px solid #901C1C; /* Une bordure  pour indiquer le focus */
    outline-offset: 2px; /* Un léger décalage pour éviter de toucher le texte */

}
button:focus, a:focus, input:focus {
    outline: 3px solid #901C1C; /* Une bordure  pour indiquer le focus */
    outline-offset: 2px; /* Un léger décalage pour éviter de toucher le texte */
}
/*permet au lecteur ecran de lire les infos dans le formulaire*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }